#!/bin/bash
# Shell config file for WGS paper scripts
# Contains variables for directory
#HOME_DIR=/home/cursorially/Daus_WGS_Paper
HOME_DIR=/mnt/data/dayhoff/home/u6905905/Daus_WGS_Paper
# HOME_DIR=/Volumes/Alter/Daus_WGS_Paper

# If we're on Dayhoff, then  have to use scratch directory for large data

if [ $(pwd | grep "mnt") ]
then
	SCRATCH_DIR=/mnt/data/dayhoff/home/scratch/groups/mikheyev/LHISI
else
	SCRATCH_DIR=${HOME_DIR}
fi

REF_DIR=${SCRATCH_DIR}/References
READ_DIR=${SCRATCH_DIR}/Reads
ALN_DIR=${SCRATCH_DIR}/Alignments

ANALYSIS_DIR=${HOME_DIR}/Analysis
DATA_DIR=${HOME_DIR}/Data
SCRIPT_DIR=${HOME_DIR}/Scripts
FIGURE_DIR=${HOME_DIR}/Figures


# Most scripts that source this will be in their own analysis directory
# The script will then define a working directory, usually the containing directory
