#!/bin/bash
# Shell config file for WGS paper scripts
# Contains variables for directory
HOME_DIR=/home/cursorially/Daus_WGS_Paper
# HOME_DIR=/mnt/data/dayhoff/home/u6905905
# HOME_DIR=/Volumes/Alter/Daus_WGS_Paper
REF_DIR=${HOME_DIR}/References
READ_DIR=${HOME_DIR}/Reads
ALN_DIR=${HOME_DIR}/Alignments
ANALYSIS_DIR=${HOME_DIR}/Analysis
DATA_DIR=${HOME_DIR}/Data
SCRIPT_DIR=${HOME_DIR}/Scripts
FIGURE_DIR=${HOME_DIR}/Figures
# Most scripts that source this will be in their own analysis directory
# The script will then define a working directory, usually the containing directory
